block footer
  .blog-footer
    p.text-muted.credit
      | &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; powered by&nbsp;
      a(href='https://github.com/jnordberg/wintersmith') Wintersmith
      //- please leave the "powered by" if you use the design
    p
      a(href='#') Back to top
